<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Playground</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<p>This is a page for testing various parts of JavaScript. Just enter whatever JavaScript you want to test in the box
    below and press the "Run!" button. jQuery 1.12.4 as well as jQuery UI 1.12.1 have been imported, if you want
    to mess with that.</p>
<textarea id="js-area" placeholder="Test your JavaScript in here!"></textarea>
<br>
<button onclick="eval(document.getElementById('js-area').value);">Run!</button>
<br>
<p>
<div class="screen" style="padding:5px;width:200px;" id="test">
    You can use this space to add elements and the like.<br>
    This div has the id "test".
</div>
</p>
<p><a href="../index.html" th:href="@{/}">Back to Home</a></p>
</body>
</html>