<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>Style Testing</title>
</head>
<body>
<p>I'm going to test some cool things I put in the <code>style.css</code> file here.</p>
<button id="button" onclick='$("#button")[0].innerHTML="Thank you!"'>Click me!</button>
<p>List of findings:
<ul>
    <li>The latest version of jQuery that is supported is 1.12.4, which is unfortunate.</li>
    <li>Both bold and italics are broken on the DSi</li>
    <li>There is only one font: the default font</li>
    <li>em as a CSS width is broken</li>
    <li>How the DSi deals with font sizes is cursed.
        <ul>
            <li>All sizes 1px to 9px are the same with the same element height;</li>
            <li>After that, the element's height starts to linearly increase, but the font itself
                does not increase in size until 12px.
            </li>
            <li>Sizes 12px to 14px are the same, and sizes 15px and up are the same.</li>
            <li>You can test it below using a DSi.</li>
        </ul>
    </li>
</ul>
</p>
<p id="resizable">Sample test</p>
<input type="number" oninput='$("#resizable")[0].style.fontSize=this.value+"px"' value="10">
<p><a href="../index.html" th:href="@{/}">Go back to home</a></p>
</body>
</html>