body {
    font-family: sans-serif;
    margin: 2px;
    overflow-x: hidden;
    width: 236px;
}

* {
    font-size: 10px;
    line-height: 11px;
}

address, article, aside, footer, h3, h4, h5, h6, header, main, section {
    display: block;
}

h1 {
    display: block;
    font-size: 20px;
}

h2 {
    display: block;
    font-size: 13px;
}

mark {
    background-color: #ff0;
    color: #000;
}

template {
    display: none;
}

ul {
    padding-left: 25px;
}

.screen {
    width: 240px;
    height: 176px;
    border: 1px solid #000;
}

.top-left-bottom {
    position: fixed;
    top: 0px;
    left: 0px;
}

.top-left-top {
    position: fixed;
    top: -176px;
    left: 0px;
}