body {
    font-family: sans-serif;
    margin: 2px;
    overflow-x: hidden;
    width: 236px;
}

* {
    font-size: 10px;
    line-height: 11px;
}

address, article, aside, footer, header, main, section {
    display: block;
}

h1 {
    display: block;
    font-size: 20px;
}

h2 {
    display: block;
    font-size: 15px;
}

h3 {
    display: block;
    font-size: 11.7px;
}

h4 {
    display: block;
}

h5 {
    display: block;
    font-size: 8.3px;
}

h6 {
    display: block;
    font-size: 6.7px;
    font-weight: bold;
}

mark {
    background-color: #ff0;
    color: #000;
}

template {
    display: none;
}