<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../../static/js/pixelText.js" th:src="@{/js/pixelText.js}"></script>
    <title>DSi World - Member Home</title>
</head>
<body>
    <div th:replace="~{fragments/member.html::top(username=${username})}"></div>
    <h1>Member Home</h1>
    <p>Here's a little thing if you want to keep yourself entertained.</p>
    <div style="border:1px solid #000" id="box">
        <canvas height="150px" width="220px" id="canvas" style="margin:1px"></canvas>
        <input type="checkbox" id="check" style="position:absolute">
    </div>
    <p><a href="../index.html" th:href="@{/}">Back to home</a></p>
    <script src="../../static/js/taptap.js" th:src="@{/js/taptap.js}"></script>
</body>
</html>