<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>DSi Scientific Calculator</title>
    <style>
    .screen {
        width: 234px;
        height: 170px;
        overflow: hidden;
        border: 1px solid #000;
        padding: 2px;
    }
    body {
        margin: 0;
        width: 240px;
    }
    td button {
        width: 100%;
        height: 100%;
        padding: 1px 2px;
    }
    #display {
        border: #000 solid 2px;
        padding: 10px 5px;
        overflow: hidden;
        font-size: 15px;
    }
    </style>
    <script src="../static/js/polyfill.js" th:src="@{/js/polyfill.js}"></script>
    <script>
    window.onload = function() {
        window.setInterval("scrollTo(0, 176);", 500);
    };
    </script>
</head>
<body>
    <div class="screen" style="position:relative">
        <div id="display">0</div>
        <br>
        <span id="ans">Ans:</span>
        <div style="position:absolute;bottom:0">
            Menus:
            <ul style="margin-top:0">
                <li>L + <img src="../static/resources/dpad/dpad_N.png"
                             th:src="@{/resources/dpad/dpad_N.png}" width="16px"> for basic functions</li>
                <li>L + <img src="../static/resources/dpad/dpad_E.png"
                             th:src="@{/resources/dpad/dpad_E.png}" width="16px"> for trig functions</li>
                <li>L + <img src="../static/resources/dpad/dpad_S.png"
                             th:src="@{/resources/dpad/dpad_S.png}" width="16px"> for hyperbolic trig functions</li>
                <li>L + <img src="../static/resources/dpad/dpad_W.png"
                             th:src="@{/resources/dpad/dpad_W.png}" width="16px"> for variables</li>
            </ul>
        </div>
    </div>
    <div class="screen">
        <table style="display:inline-block;width:40%">
            <tbody id="up" style="display:table-row-group">
            <tr>
                <td colspan="3">Basic Functions</td>
            </tr>
            <tr>
                <td>
                    <button onclick="square()">
                        <img src="../static/resources/calc/square.png" th:src="@{/resources/calc/square.png}">
                    </button>
                </td>
                <td>
                    <button onclick="cube()">
                        <img src="../static/resources/calc/cube.png" th:src="@{/resources/calc/cube.png}">
                    </button>
                </td>
                <td>
                    <button onclick="xy()">
                        <img src="../static/resources/calc/xy.png" th:src="@{/resources/calc/xy.png}">
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="pow10()">
                        <img src="../static/resources/calc/10x.png" th:src="@{/resources/calc/10x.png}">
                    </button>
                </td>
                <td>
                    <button onclick="log()">log</button>
                </td>
                <td>
                    <button onclick="ln()">ln</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="insertE()">e</button>
                </td>
                <td>
                    <button onclick="insertPi()">π</button>
                </td>
                <td>
                    <button onclick="insertRand()">rnd</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="sqrt()">
                        <img src="../static/resources/calc/sqrt.png" th:src="@{/resources/calc/sqrt.png}"
                             style="vertical-align:bottom">
                    </button>
                </td>
                <td>
                    <button onclick="cbrt()">
                        <img src="../static/resources/calc/cbrt.png" th:src="@{/resources/calc/cbrt.png}"
                             style="vertical-align:bottom">
                    </button>
                </td>
                <td>
                    <button onclick="yroot()">
                        <img src="../static/resources/calc/yroot.png" th:src="@{/resources/calc/yroot.png}"
                             style="vertical-align:bottom">
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="pow2()">
                        <img src="../static/resources/calc/2x.png" th:src="@{/resources/calc/2x.png}">
                    </button>
                </td>
                <td>
                    <button onclick="logyx()">
                        <img src="../static/resources/calc/logyx.png" th:src="@{/resources/calc/logyx.png}"
                             style="vertical-align:bottom">
                    </button>
                </td>
                <td>
                    <button onclick="powE()">
                        <img src="../static/resources/calc/ex.png" th:src="@{/resources/calc/ex.png}">
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="inv()">
                        <img src="../static/resources/calc/inv.png" th:src="@{/resources/calc/inv.png}"
                             style="display:block;margin:auto">
                    </button>
                </td>
                <td>
                    <button onclick="abs()">
                        <img src="../static/resources/calc/abs.png" th:src="@{/resources/calc/abs.png}"
                             style="vertical-align:middle">
                    </button>
                </td>
                <td>
                    <button onclick="fact()">n!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="floor()">
                        <img src="../static/resources/calc/floor.png" th:src="@{/resources/calc/floor.png}"
                             style="vertical-align:bottom">
                    </button>
                </td>
                <td>
                    <button onclick="ceiling()">
                        <img src="../static/resources/calc/ceil.png" th:src="@{/resources/calc/ceil.png}"
                             style="vertical-align:bottom">
                    </button>
                </td>
                <td>
                    <button onclick="decimal()">{x}</button>
                </td>
            </tr>
            </tbody>
            <tbody id="right" style="display:none">
            <tr>
                <td colspan="3">Trigonometry</td>
            </tr>
            <tr>
                <td>
                    <button onclick="sin()">sin</button>
                </td>
                <td>
                    <button onclick="asin()">asin</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="cos()">cos</button>
                </td>
                <td>
                    <button onclick="acos()">acos</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="tan()">tan</button>
                </td>
                <td>
                    <button onclick="atan()">atan</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="sec()">sec</button>
                </td>
                <td>
                    <button onclick="asec()">asec</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="csc()">csc</button>
                </td>
                <td>
                    <button onclick="acsc()">acsc</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="cot()">cot</button>
                </td>
                <td>
                    <button onclick="acot()">acot</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="toDeg()">toDeg</button>
                </td>
                <td>
                    <button onclick="toRad()">toRad</button>
                </td>
            </tr>
            </tbody>
            <tbody id="down" style="display:none">
            <tr>
                <td colspan="3">Hyperbolic Trig</td>
            </tr>
            <tr>
                <td>
                    <button onclick="sinh()">sinh</button>
                </td>
                <td>
                    <button onclick="asinh()">asinh</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="cosh()">cosh</button>
                </td>
                <td>
                    <button onclick="acosh()">acosh</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="tanh()">tanh</button>
                </td>
                <td>
                    <button onclick="atanh()">atanh</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="sech()">sech</button>
                </td>
                <td>
                    <button onclick="asech()">asech</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="csch()">csch</button>
                </td>
                <td>
                    <button onclick="acsch()">acsch</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="coth()">coth</button>
                </td>
                <td>
                    <button onclick="acoth()">acoth</button>
                </td>
            </tr>
            </tbody>
            <tbody id="left" style="display:none">
            <tr>
                <td colspan="3">Variables</td>
            </tr>
            <tr>
                <td>
                    <button style="color:#F0F" class="var-button">A</button>
                </td>
                <td>
                    <button class="var-button">B</button>
                </td>
                <td>
                    <button class="var-button">C</button>
                </td>
                <td>
                    <button class="var-button">D</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">E</button>
                </td>
                <td>
                    <button class="var-button">F</button>
                </td>
                <td>
                    <button class="var-button">G</button>
                </td>
                <td>
                    <button class="var-button">H</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">I</button>
                </td>
                <td>
                    <button class="var-button">J</button>
                </td>
                <td>
                    <button class="var-button">K</button>
                </td>
                <td>
                    <button class="var-button">L</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">M</button>
                </td>
                <td>
                    <button class="var-button">N</button>
                </td>
                <td>
                    <button class="var-button">O</button>
                </td>
                <td>
                    <button class="var-button">P</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">Q</button>
                </td>
                <td>
                    <button class="var-button">R</button>
                </td>
                <td>
                    <button class="var-button">S</button>
                </td>
                <td>
                    <button class="var-button">T</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">U</button>
                </td>
                <td>
                    <button class="var-button">V</button>
                </td>
                <td>
                    <button class="var-button">W</button>
                </td>
                <td>
                    <button class="var-button">X</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">Y</button>
                </td>
                <td>
                    <button class="var-button">Z</button>
                </td>
                <td colspan="2">
                    <button style="color:#F00" onclick="clearMems()">Clear</button>
                </td>
            </tr>
            </tbody>
        </table>
        <table style="display:inline-block;float:right;width:60%">
            <tbody style="float:right">
            <tr>
                <td colspan="2">
                    <button id="mode-button">Deg</button>
                </td>
                <td>
                    <button onclick="insertAns()">Ans</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="mc" onclick="memClear()" disabled>mc</button>
                </td>
                <td>
                    <button id="mr" onclick="memRead()" disabled>mr</button>
                </td>
                <td>
                    <button onclick="memAdd()">m+</button>
                </td>
                <td>
                    <button onclick="memSubtract()">m-</button>
                </td>
                <td>
                    <button onclick="memStore()">ms</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="round0()">R0</button>
                </td>
                <td>
                    <button onclick="round2()">R2</button>
                </td>
                <td>
                    <button onclick="mod()">mod</button>
                </td>
                <td>
                    <button onclick="percent()">%</button>
                </td>
                <td>
                    <button onclick="typeCharacter('E')">E</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="typeCharacter('7')">7</button>
                </td>
                <td>
                    <button onclick="typeCharacter('8')">8</button>
                </td>
                <td>
                    <button onclick="typeCharacter('9')">9</button>
                </td>
                <td>
                    <button onclick="divide()">/</button>
                </td>
                <td>
                    <button id="clear-button">C</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="typeCharacter('4')">4</button>
                </td>
                <td>
                    <button onclick="typeCharacter('5')">5</button>
                </td>
                <td>
                    <button onclick="typeCharacter('6')">6</button>
                </td>
                <td>
                    <button onclick="multiply()">x</button>
                </td>
                <td>
                    <button onclick="deleteCharacter()">
                        <img src="../static/resources/calc/backspace.png" th:src="@{/resources/calc/backspace.png}"
                             style="vertical-align:middle">
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="typeCharacter('1')">1</button>
                </td>
                <td>
                    <button onclick="typeCharacter('2')">2</button>
                </td>
                <td>
                    <button onclick="typeCharacter('3')">3</button>
                </td>
                <td>
                    <button onclick="subtract()">-</button>
                </td>
                <td rowspan="2">
                    <button style="height:26px" onclick="execute()">=</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="negate();">±</button>
                </td>
                <td>
                    <button onclick="typeCharacter('0')">0</button>
                </td>
                <td>
                    <button onclick="typeCharacter('.')">.</button>
                </td>
                <td>
                    <button onclick="add()">+</button>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <a href="index.html" th:href="@{/}">Back to home</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="../static/js/calculator.js" th:src="@{/js/calculator.js}"></script>
</body>
</html>