<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>DSi Scientific Calculator</title>
    <style>
    .screen {
        width: 234px;
        height: 176px;
        overflow: hidden;
        border: 1px solid #000;
        padding: 2px;
    }
    body {
        margin: 0;
        width: 240px;
    }
    td button {
        width: 100%;
        height: 100%;
        padding: 1px 2px;
    }
    </style>
    <script src="../static/js/polyfill.js" th:src="@{/js/polyfill.js}"></script>
    <script>
    window.onload = function() {
        window.setInterval("scrollTo(0, 176);", 500);
    };
    </script>
</head>
<body>
    <div class="screen">
        <p>Try pressing L + <img src="../static/resources/dpad/dpad_E.png"
                                 th:src="@{/resources/dpad/dpad_E.png}" width="16px"> for extra functionality!</p>
        <p>L + <img src="../static/resources/dpad/dpad_N.png"
                                 th:src="@{/resources/dpad/dpad_N.png}" width="16px"> to go back.</p>
        <p id="display">0</p>
    </div>
    <div class="screen">
        <table style="display:inline-block;width:40%">
            <tbody id="up" style="display:table-row-group">
            <tr>
                <td colspan="3">Standard Functions</td>
            </tr>
            <tr>
                <td>
                    <button onclick="square()">x²</button>
                </td>
                <td>
                    <button onclick="cube()">x³</button>
                </td>
                <td>
                    <button>xʸ</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="pow10()">10ˣ</button>
                </td>
                <td>
                    <button onclick="log()">log</button>
                </td>
                <td>
                    <button onclick="ln()">ln</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="insertE()">e</button>
                </td>
                <td>
                    <button onclick="insertPi()">π</button>
                </td>
                <td>
                    <button onclick="insertRand()">rnd</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="sqrt()">√x</button>
                </td>
                <td>
                    <button onclick="cbrt()">∛x</button>
                </td>
                <td>
                    <button>ʸ√x</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="pow2()">2ˣ</button>
                </td>
                <td>
                    <button>logᵧx</button>
                </td>
                <td>
                    <button onclick="powE()">eˣ</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="inv()">1/x</button>
                </td>
                <td>
                    <button onclick="abs()">|x|</button>
                </td>
                <td>
                    <button onclick="fact()">n!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>⌊x⌋</button>
                </td>
                <td>
                    <button>⌈x⌉</button>
                </td>
                <td>
                    <button>{x}</button>
                </td>
            </tr>
            </tbody>
            <tbody id="right" style="display:none">
            <tr>
                <td colspan="3">Trigonometry</td>
            </tr>
            <tr>
                <td>
                    <button>sin</button>
                </td>
                <td>
                    <button>asin</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>cos</button>
                </td>
                <td>
                    <button>acos</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>tan</button>
                </td>
                <td>
                    <button>atan</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>sec</button>
                </td>
                <td>
                    <button>asec</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>csc</button>
                </td>
                <td>
                    <button>acsc</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>cot</button>
                </td>
                <td>
                    <button>acot</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>toDeg</button>
                </td>
                <td>
                    <button>toRad</button>
                </td>
            </tr>
            </tbody>
            <tbody id="down" style="display:none">
            <tr>
                <td colspan="3">Hyperbolic Trig</td>
            </tr>
            <tr>
                <td>
                    <button>sinh</button>
                </td>
                <td>
                    <button>asinh</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>cosh</button>
                </td>
                <td>
                    <button>acosh</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>tanh</button>
                </td>
                <td>
                    <button>atanh</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>sech</button>
                </td>
                <td>
                    <button>asech</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>csch</button>
                </td>
                <td>
                    <button>acsch</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>coth</button>
                </td>
                <td>
                    <button>acoth</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>toDeg</button>
                </td>
                <td>
                    <button>toRad</button>
                </td>
            </tr>
            </tbody>
            <tbody id="left" style="display:none">
            <tr>
                <td colspan="3">Variables</td>
            </tr>
            <tr>
                <td>
                    <button style="color:#F0F" class="var-button">A</button>
                </td>
                <td>
                    <button class="var-button">B</button>
                </td>
                <td>
                    <button class="var-button">C</button>
                </td>
                <td>
                    <button class="var-button">D</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">E</button>
                </td>
                <td>
                    <button class="var-button">F</button>
                </td>
                <td>
                    <button class="var-button">G</button>
                </td>
                <td>
                    <button class="var-button">H</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">I</button>
                </td>
                <td>
                    <button class="var-button">J</button>
                </td>
                <td>
                    <button class="var-button">K</button>
                </td>
                <td>
                    <button class="var-button">L</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">M</button>
                </td>
                <td>
                    <button class="var-button">N</button>
                </td>
                <td>
                    <button class="var-button">O</button>
                </td>
                <td>
                    <button class="var-button">P</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">Q</button>
                </td>
                <td>
                    <button class="var-button">R</button>
                </td>
                <td>
                    <button class="var-button">S</button>
                </td>
                <td>
                    <button class="var-button">T</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">U</button>
                </td>
                <td>
                    <button class="var-button">V</button>
                </td>
                <td>
                    <button class="var-button">W</button>
                </td>
                <td>
                    <button class="var-button">X</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="var-button">Y</button>
                </td>
                <td>
                    <button class="var-button">Z</button>
                </td>
                <td colspan="2">
                    <button style="color:#F00">Clear</button>
                </td>
            </tr>
            </tbody>
        </table>
        <table style="display:inline-block;float:right;width:60%">
            <tbody style="float:right">
            <tr>
                <td colspan="2">
                    <button>Deg</button>
                </td>
                <td>
                    <button>Ans</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>MC</button>
                </td>
                <td>
                    <button>MR</button>
                </td>
                <td>
                    <button>M+</button>
                </td>
                <td>
                    <button>M-</button>
                </td>
                <td>
                    <button>MS</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button>R0</button>
                </td>
                <td>
                    <button>R2</button>
                </td>
                <td>
                    <button>mod</button>
                </td>
                <td>
                    <button>%</button>
                </td>
                <td>
                    <button onclick="typeCharacter('E')">E</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="typeCharacter('7')">7</button>
                </td>
                <td>
                    <button onclick="typeCharacter('8')">8</button>
                </td>
                <td>
                    <button onclick="typeCharacter('9')">9</button>
                </td>
                <td>
                    <button>/</button>
                </td>
                <td>
                    <button id="clear-button">C</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="typeCharacter('4')">4</button>
                </td>
                <td>
                    <button onclick="typeCharacter('5')">5</button>
                </td>
                <td>
                    <button onclick="typeCharacter('6')">6</button>
                </td>
                <td>
                    <button>x</button>
                </td>
                <td>
                    <button onclick="deleteCharacter()">⌫</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="typeCharacter('1')">1</button>
                </td>
                <td>
                    <button onclick="typeCharacter('2')">2</button>
                </td>
                <td>
                    <button onclick="typeCharacter('3')">3</button>
                </td>
                <td>
                    <button>-</button>
                </td>
                <td rowspan="2">
                    <button style="height:26px">=</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="negate();">±</button>
                </td>
                <td>
                    <button onclick="typeCharacter('0')">0</button>
                </td>
                <td>
                    <button onclick="typeCharacter('.')">.</button>
                </td>
                <td>
                    <button>+</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="../static/js/calculator.js" th:src="@{/js/calculator.js}"></script>
</body>
</html>