<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/js/fillNumber.js" th:src="@{/js/fillNumber.js}"></script>
    <script>
    var canvas, ctx, increment, count, fps = 0, lastFPS = 0, updateFPS = function() {
        fps = count - lastFPS;
        lastFPS = count;
    };

    window.onload = function() {
        count = 0;
        canvas = document.getElementById("canvas");
        ctx = canvas.getContext("2d");
        increment = function() {
            ctx.fillStyle = "#fff";
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            ctx.fillStyle = "#000";
            ctx.fillNumber(count++, 5, 15);

            ctx.fillPixelText("FPS: " + fps, 5, 27);

            setTimeout("increment();", 0);
        }

        document.getElementById('start').onclick = function() {
            increment();
            this.style.display = "none";

            setInterval("updateFPS();", 1000);
        };
    };
    </script>
    <title>Framerate Test</title>
</head>
<body>
<canvas height="32px" width="100px" id="canvas"></canvas>
<br>
<button id="start">Start the test!</button>
</body>
</html>