<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>DSi World - Home</title>
</head>
<body>
    <h1>Welcome to the home page!</h1>
    <h2 th:if="${welcome_text != null}" th:text="${welcome_text}" style="color:blue">Hello there, tester!</h2>
    <p>DSi World is currently under construction. Please check back later.</p>
    <button class="expandable">Test stuff</button>
    <div class="expand-content" style="display:none">
        <p>For now, you can go check out the <a href="test/test.html" th:href="@{/test}">test page</a>.</p>
        <p>If you want to see exactly what I'm working on, you can take a look at the
            <a href="test/style-test.html" th:href="@{/test/style-test}">style testing page</a> and the
            <a href="test/input-detection.html" th:href="@{/test/input-detection}">input detection page</a>.</p>
        <p>Oh, and the <a href="test/jquery-ui.html" th:href="@{/test/jquery-ui-test}">jQuery UI test page</a>
            for some spicy things.</p>
        <p>I didn't want to keep on guessing and checking what would work, so I created a
            <a href="test/js-playground.html" th:href="@{/test/js-playground}">JavaScript playground</a>.</p>
        <p><a href="test/framerate.html" th:href="@{/test/framerate}">Here's a framerate test for
            funsies</a>.</p>
        <p>I made <a href="test/input2.html" th:href="@{/test/input2}">another input detection page</a>. This
            one should be better than the last one.</p>
        <p>I also threw up
            <a href="test/input3.html" th:href="@{/test/input3}">my input detection from DSi Paint</a>
            because I was tired of trying to make things work here.</p>
    </div>
    <p>I've started work on some actual work now!</p>
    <ul>
        <li><a href="login.html" th:href="@{/login}">Login page</a></li>
        <li><a href="register.html" th:href="@{/register}">Register page</a></li>
        <li><a href="calculator.html" th:href="@{/calculator}">DSi-compatible scientific calculator</a></li>
    </ul>
    <script src="../static/js/expandable.js" th:src="@{/js/expandable.js}"></script>
</body>
</html>