<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>Home</title>
</head>
<body>
<h1>Welcome to the home page!</h1>
<p>DSi World is currently under construction. Please check back later.</p>
<p>For now, you can go check out the <a href="test.html" id="test-link">test page</a>.</p>
<p>If you want to see exactly what I'm working on, you can take a look at the
    <a href="style-test.html" id="style-test-link">style testing page</a> and the
    <a href="input-detection.html" id="input-detection-link">input detection page</a>.</p>
<p>Oh, and the <a href="jquery-ui.html" id="jquery-ui-link">jQuery UI test page</a> for
    some spicy things.</p>
<p>I didn't want to keep on guessing and checking what would work, so I created a
    <a href="js-playground.html" id="js-playground-link">JavaScript playground</a>.</p>
</body>
</html>