<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="../static/js/input.js" th:href="@{/js/input.js}"></script>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <title>Input Detection</title>
</head>
<body style="height:1000px">
<p class="top-left-top">Upper text</p>
<canvas class="top-left-bottom screen" id="bottom-canvas"></canvas>
</body>
</html>