<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/js/input3.js" th:src="@{/js/input3.js}"></script>
    <title>Input Detection 3</title>
</head>
<body>
<a href="index.html" th:href="@{/}">Back to Home</a>
<div id="text"></div>
<button id="trigger">Click me to start the test</button>
</body>
</html>