<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>DSi World - Login</title>
</head>
<body style="text-align:center">
    <h1>Login</h1>
    <form action="index.html" th:action="@{/login}" method="POST">
        <p>Username: <input type="text" name="username" placeholder="Enter your username" required/></p>
        <p>Password: <input type="password" name="password" placeholder="Enter your password" required/></p>
        <div th:if="${reject_reason != null}" th:text="${reject_reason}" style="color:red"></div>
        <div th:if="${text != null}" th:text="${text}"></div>
        <p><input type="submit" value="Login"/></p>
    </form>
    <p><a href="index.html" th:href="@{/}">Back to home page</a></p>
</body>
</html>