<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>DSi World - Minesweeper</title>
    <style>
    .popup {
        border: #000 solid 1px;
        width: 218px;
        height: 154px;
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 5px;
    }
    </style>
</head>
<body>
<div id="board"></div>
<div class="popup">Yeet</div>
</body>
</html>