<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <title>Style Testing</title>
</head>
<body>
<p>I'm going to test some cool things I put in the <code>style.css</code> file here.</p>
<p class="serif">This is a neat serif font.</p>
<p class="sans-serif">This is a neat sans-serif font.</p>
<button id="button" onclick='$("#button")[0].innerHTML="Thank you!"'>Click me!</button>
<p><a href="index.html" th:href="@{/}">Go back to home</a></p>
</body>
</html>